

body {

    background-image: url(./static/bg1.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#img-size {
    height: "10";
}
#brd-rad {
    border-radius: 24px;
}

.icon {
    color: black;
}

.settings_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.interiors_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.design_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.project_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.rendering_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.hoveri:hover{
    transform: translateY(-15px);
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 500px;
}

.loader.hidden {
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    color: black;
    
 
}