

body {
    background-color: #14c7c7;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#img-size {
    height: "10";
}
#brd-rad {
    border-radius: 24px;
}

.icon {
    color: black;
}

.settings_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.interiors_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.design_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.project_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.rendering_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}