

body {

    background-image: url(./static/bg1.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#img-size {
    height: "10";
}
#brd-rad {
    border-radius: 24px;
}

.icon {
    color: black;
}

.settings_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.interiors_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.design_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.project_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.rendering_logo {
    height: 80%;
    width: 80%;
    align-items: center;
}

.hoveri:hover{
    transform: translateY(-15px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    color: black;
    
 
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 500px;
}

.loader.hidden {
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.dark #get_in_touch {
    background: #ffc107;
}

.dark #text {
    background: #ffc107;
}

.dark #navbar {
    background: #ffc107;
}

#card:hover #card-img-top {
    opacity: 0.3;
  }
  
#card:hover #card-body {
    opacity: 1;
  }

#card-img-top {
    opacity: 1;
    transition: .5s ease;
     backface-visibility: hidden;
}


#card-body {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  
#card-title {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}